[Unit]
Description=Atlassian Jira Service
After=syslog.target network.target
   
[Service]
Type=forking
User={{ jira_user }}
Group={{ jira_user_group }}
Environment=JAVA_HOME=/usr/lib/jvm/java-1.7.0-openjdk-1.7.0.71-2.5.3.1.el7_0.x86_64
ExecStart={{ jira_user_home_dir }}/jira//bin/start-jira.sh
ExecStop={{ jira_user_home_dir }}/jira/bin/stop-jira.sh
   
[Install]
WantedBy=multi-user.target
